<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.VisitCount.visitorMapper">

   <insert id="insertVisitor" parameterType="visitorDTO">
      INSERT INTO chat_tbl (
      visit_id,
      visit_date,
      visit_count,
     
      )
      VALUES (
      visit_id_seq.NEXTVAL,
      TO_DATE(#{date}, 'YYYY-MM-DD'),
      #{visit_count}   
      )
   </insert>
</mapper>