<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="KakaoUserDTO" type="com.acorn.testing.KakaoUserDTO" />
		<typeAlias alias="OrderDTO" type="com.sh.order.OrderDTO" />
		<typeAlias alias="LoginDTO" type="com.sh.login.LoginDTO" />
	    <typeAlias alias="UserDTO" type="com.sh.saveUser.UserDTO" />
		<typeAlias alias="AddressDTO" type="com.sh.address.AddressDTO" />
        <typeAlias alias="cateDTO" type="com.sh.product.cateDTO"/>
           <typeAlias alias="Image" type="com.sh.product.cateDTO"/>
         <typeAlias alias="ProductDTO" type="com.sh.product.ProductDTO"/>
	</typeAliases>
</configuration>