<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.scrollMapper">

   <!-- 레코드 개수 -->
   <select id="getTotalCnt" resultType="int">
       <![CDATA[
       SELECT COUNT(*) FROM user_board
       ]]>
   </select>


   <!-- 시간순 정렬 -->
   <select id="getListTime" resultType="ScrollDTO">
 <![CDATA[
	SELECT * FROM (
	    SELECT 
	        @rownum := @rownum + 1 AS num,
	        sort,
	        board_id,
	        board_title,
	        board_date,
	        user_nickname,
	        loc_code,
	        detail_loc,
	        board_price,
	        board_click,
	        board_img,
	        user_code
	    FROM (
	        SELECT 
	            @rownum := 0 AS sort,
	            board_id,
	            board_title,
	            board_date,
	            user_nickname,
	            loc_code,
	            detail_loc,
	            board_price,
	            board_click,
	            board_img,
	            user_code
	        FROM user_board
	        ORDER BY board_date DESC
	    ) AS subquery
	) AS numbered_rows
	WHERE num BETWEEN #{startIndex} AND #{endIndex}
    ]]>
   </select>

  <!-- 인기순(조회수) 정렬 -->
   <select id="getListClick" resultType="ScrollDTO">
<![CDATA[
	SELECT * FROM (
	    SELECT 
	        @rownum := @rownum + 1 AS num,
	        sort,
	        board_id,
	        board_title,
	        board_date,
	        user_nickname,
	        loc_code,
	        detail_loc,
	        board_price,
	        board_click,
	        board_img,
	        user_code
	    FROM (
	        SELECT 
	            @rownum := 0 AS sort,
	            board_id,
	            board_title,
	            board_date,
	            user_nickname,
	            loc_code,
	            detail_loc,
	            board_price,
	            board_click,
	            board_img,
	            user_code
	        FROM user_board
	        ORDER BY board_click DESC
	    ) AS subquery
	) AS numbered_rows
	WHERE num BETWEEN #{startIndex} AND #{endIndex}
    ]]>
   </select>
   
   <!-- 검색 기능 -->
   <select id="getSearchList" resultType="ScrollDTO"
      parameterType="string">
      <![CDATA[
    SELECT *
    FROM user_board
    WHERE REPLACE(board_title, ' ', '') LIKE CONCAT('%', REPLACE(#{searchTerm}, ' ', ''), '%')
       OR REPLACE(board_text, ' ', '') LIKE CONCAT('%', REPLACE(#{searchTerm}, ' ', ''), '%')
    ]]>
   </select>
   
   <!-- 관심상품 목록 -->
   <select id="getLikeList" resultType="ScrollDTO">
    <![CDATA[
    SELECT 
        @rownum := @rownum + 1 AS num,
        b.board_id,
        b.board_title,
        b.board_date,
        b.user_nickname,
        b.loc_code,
        b.detail_loc,
        b.board_price,
        b.board_click,
        b.board_img,
        b.board_text,
        b.user_code
    FROM 
        board_like l
    JOIN 
        user_board b ON l.BOARD_ID = b.BOARD_ID
    CROSS JOIN 
        (SELECT @rownum := 0) r
    WHERE 
        l.USER_ID = #{userId}
    ORDER BY 
        b.board_date DESC
    ]]>
   </select>
   
      <!-- 동네거래 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <!-- 동네(시간순 정렬) -->
   <select id="localListTime" resultType="ScrollDTO">
    <![CDATA[
	SELECT * FROM (
	    SELECT 
	        @rownum := @rownum + 1 AS num,
	        sort,
	        board_id,
	        board_title,
	        board_date,
	        user_nickname,
	        loc_code,
	        detail_loc,
	        board_price,
	        board_click,
	        board_img,
	        user_code
	    FROM (
	        SELECT 
	            @rownum := 0 AS sort,
	            board_id,
	            board_title,
	            board_date,
	            user_nickname,
	            loc_code,
	            detail_loc,
	            board_price,
	            board_click,
	            board_img,
	            user_code
	        FROM user_board
	        WHERE detail_loc = #{detail_loc}
	        ORDER BY board_date DESC
	    ) AS subquery
	) AS numbered_rows
	WHERE num BETWEEN #{startIndex} AND #{endIndex}
    ]]>
   </select>

   
    <!-- 동네(인기순 정렬) -->
   <select id="localListClick" resultType="ScrollDTO">
    <![CDATA[
	SELECT * FROM (
	    SELECT 
	        @rownum := @rownum + 1 AS num,
	        sort,
	        board_id,
	        board_title,
	        board_date,
	        user_nickname,
	        loc_code,
	        detail_loc,
	        board_price,
	        board_click,
	        board_img,
	        user_code
	    FROM (
	        SELECT 
	            @rownum := 0 AS sort,
	            board_id,
	            board_title,
	            board_date,
	            user_nickname,
	            loc_code,
	            detail_loc,
	            board_price,
	            board_click,
	            board_img,
	            user_code
	        FROM user_board
	        WHERE detail_loc = #{detail_loc}
	        ORDER BY board_click DESC
	    ) AS subquery
	) AS numbered_rows
	WHERE num BETWEEN #{startIndex} AND #{endIndex}
    ]]>
   </select>

   <!-- 동네거래 레코드 개수 -->
   <select id="localTotalCnt" resultType="int">
      SELECT count(*) FROM
      user_board where detail_loc = #{location}
   </select>
   
   <!-- 판매중인 물건 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <select id="SellProducts" resultType="ScrollDTO">
         select * from user_board where user_code = #{user_code} ORDER BY board_date DESC
   </select>
</mapper>